nav {
    box-shadow: 1.2px 2.2px 2.2px;
}


nav h1 {
    text-align: left;
}

nav ul {
    margin-top: -70px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    padding-right: 22px;
    color: rgb(92, 140, 68)
}