nav {
    box-shadow: 1.2px 2.2px 2.2px;
}


nav h1 {
    text-align: left;
}

nav ul {
    margin-top: 0px;
    margin-left: 11px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    padding-right: 22px;
    color: rgb(92, 140, 68)
}


@media screen and (max-width: 960px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links.open {
        display: flex;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
    }

    .menu-btn.open .btn-line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .menu-btn.open .btn-line:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.open .btn-line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
}